#fr-link {
	@include sprite(6, 3);
}
#en-link {
	@include sprite(7, 3);
}
.lang-selector {
	width: 30px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
	text-indent: 9999px;
}
.lang-selector-active {
	pointer-events: none;

}
.lang-selector-unactive {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	transition: filter 0.3s;
	&:hover {
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		filter: grayscale(0%);
	}
}
#home {
	.highlighted {
		white-space: normal;
	}
	.home-half-text, .home-half-picture {
		display: inline-block;
		vertical-align: top;
		height: 99vh;
		margin : 0;
	}
	.home-half-text {
		z-index: 1;
		width: 40%;
		background-color: $grey;
		text-align: right;
		padding-right: 40px;
		position: relative;
		h1 {
			font-size: 3em;
		}
		h1, h2 {
			margin: 0;
		}
		h2 {
			font-weight: lighter;
		}
		&>div {
			margin-top: 40vh;
			vertical-align: middle;
			display: inline-block;
		}
		p>a {
			color: #000;
			transition:color 0.1s;
			&:hover {
				color: $light-blue;
			}
		}
		.cta {
			margin-top: 25px;
			margin-right: 0;
		}
		#right-cross {
			font-size: 0;
			position: absolute;
			top: 0px;
			width: 100px;
			right:-100px;
			margin-top: 0px;
			height: calc(99vh - 50px);
			padding: 0;
			&>svg{
				display: inline-block;
				height: 100%;
				width: 100px;
				margin-left: calc(40% - 50px);
				transform: translateX(0); // Hack acceleration matérielle
				&>polygon{
					width:10%;
					fill: $grey;
				}
			}
		}
		.cta {
			color: #000;
			border-color: #000;
			&:before{
				background-color: #000;
			}
			&:hover {
				color: #fff;
			}
		}
	}
	.home-half-picture {
		width: 60%;
		background-color: $grey;
		position: relative;
		z-index: 0;
	}
	.slide {
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 100%;
		&.hidden {
			opacity: 0;
		}
	}
}

#whoami{
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: $dark-blue;

	#bottom-cross{
		font-size: 0;
		position: absolute;
		top: -50px;
		height: 50px;
		width: 100%;
		padding: 0;
		&>svg{
			display: inline-block;
			height:50px;
			width: 100px;
			margin-left: calc(40% - 50px);
			transform: translateX(0); // Hack acceleration matérielle
			&>polygon{
				width:10%;
				fill: $dark-blue;
			}
		}
	}
	&>div{
		width: $global-width;
		margin:0 auto;
		padding:20px 0;
		h2{
			color: white;
		}
		#presentation{
			font-size: 0;
			&>div{
				display: inline-block;
				vertical-align: middle;
			}
			#imgProfil{
				height:300px;
				width:300px;
				border-radius: 150px;
				@include sprite(0, 3);
			}
			#description{
				font-size: 16px;
				width:660px;
				padding:20px;
				h2{
					color:white;
					vertical-align: middle;
					display: inline-block;
					margin-right: 20px;
				}
				&>p{
					color:white;
					text-indent: 20px;
					text-align: justify;
				}
				a.externLink{
					display: inline-block;
					text-decoration: none;
					vertical-align: middle;
					height: 30px;
					width: 30px;
					padding:5px;
					text-indent: -9999px;
				}
				a#git{
				    @include sprite(3, 2);
				    &:hover {
					@include sprite(2, 2);
				    }
				}
				a#linkedin{
				    @include sprite(1, 2);
				    &:hover {
					@include sprite(0, 2);
				    }
				}
			}
		}
		#formation, #experience{
			&>div{
				display: inline-block;
				color:white;
				vertical-align: top;
				p{
					margin: 0;
				}
				h3{
					margin:0;
				}
			}
		}
		#formation{
			&>div{
				text-align: center;
				width:33%;
				height:90px;
				position: relative;
				p{
					font-size: 14px;
				}
			}
		}
		#experience{
			&>div{
				margin-bottom: 30px;
				width: 100%;
				text-align: center;
				h3{
					font-size: 16px;
					margin-bottom: 5px;
				}
				.company-name {
					font-size: 20px;
				}
				.date {
					font-size: 20px;
				}
			}
		}
	}
}

#projects {

	background-color: $light-blue;
	color: #fff;
	position: relative;
	
	&>div {
		width: $global-width;
		margin:0 auto;
		padding:20px 0;
		font-size: 0;
	}
	.project-content, .project-slide {
		height:300px;
		width:300px;
	}
	.project-slide {
		position: relative;
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		font-size: small;
		margin: 10px;
		&>img {
			display: inline-block;
			vertical-align: top;
			width:300px;
		}
	}
	.project-content {
		position:absolute;
		top:0px;
		left: 0px;
		z-index: 2;
		display: inline-block;
		vertical-align: top;
		padding:10px;
		text-align: center;
		height: 300px;
		background-color:rgba(0.8,0.8,0.8,0.8);
		opacity: 0;
		transition: opacity 0.2s ease;
		div {
			margin-top: calc(50% - 20px);
			transform: translateY(-50%);
		}
		h1 {
			margin-top: 0px;
			margin-bottom: 10px;
			font-size:30px;
			line-height: 1.2;
		}
		p {
			margin: 7px 0px;
		}
		.highlighted {
			margin: 5px 5px 5px 0px;
		}
		.date.highlighted {
			background-color:$dark-blue;
			color:#fff;
		}
	}
	.project-content:hover {
		opacity: 1;
	}
}

#skills {
	background-color: $red;
	color: #fff;
	&>div {
		width: $global-width;
		margin:0 auto;
		padding:20px 0;
	}
	.half {
		text-align: center;
		margin-bottom: 20px;
		ul {
			margin:0;
			padding:0;
			list-style-type: none;
		}
	}
	.half >div {
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#icon-dev {
		@include sprite(0, 0);
	}
	#icon-web {
		@include sprite(2, 0);
	}
	#icon-design {
		@include sprite(4, 0);
	}
	#icon-computer-graphics {
		@include sprite(6, 0);
	}
	.skills-presentation {
		text-align: justify;
	}
}

#contact {
	background-color: $grey;
	width: 100%;
	&>div{
		font-size: 0;
		width: $global-width;
		margin:0 auto;
		padding:20px 0;
		h1{
			color:black;
		}
		&>div, form{
			font-size: 16px;
			display: inline-block;
			vertical-align: top;
		}
		&>div{
			width:300px;
			a{
				color:black;
				&:hover{
					color: $light-blue;
				}
			}
		}
	}
	#hello {
		display: none;
	}
	form{
		input, textarea{
			border:none;
			padding:10px;
			font-family: sofia_pro_lightregular;
			border:1px solid white;
			transition:all 0.3s;
			outline: none;
			background-color: transparent;
			&:hover{
				border:1px solid $light-blue;
			}
			&:focus{
				border:1px solid $light-blue;
				background-color: #fff;
			}
		}
	}
	button[type="submit"]{
		width: 100px;
		background-color: black;
		color:white;
		cursor:pointer;
		position: relative;
		left:0;
		border:none;
		margin-top:10px;
		padding-top: 2px;
		outline: none;
		transition: left 0.3s;
		&:hover{
			border:none;
		}
		&:active{
			&:before{
				background-color: $light-blue;
			}
		}
		&:before{
			background-color: $light-blue;
		}
		&.sent{
			left: calc(100% - 100px);
			background-color: green;
			&:before{
				background-color: green;
			}
		}
		&.sending{
			&:before{
				animation: loadingMail infinite ease 1s;
			}
		}
		&.error{
			background-color: #cd2829;
			&:before{
				background-color: #cd2829;
			}
		}
	}
	#infoMessage{
		label{
			display: inline-block;
			width: 100px;
		}
		div{
			margin:10px 0;
		}
		input{
			width: 300px;
		}
	}
	#message{
		margin-top:20px;
		label{
			display: block;
		}
		textarea{
			width:$global-width;
			height:200px;
			max-width: $global-width;
			min-width: $global-width;
			min-height:50px;
		}
	}
	#question{
		margin-top:20px;
	}
	label + input#check{
		width:40px;
		text-align: center;
	}
}

footer{
	height:200px;
	background-color: $grey;
	div{
		text-align: center;
		line-height: 200px;
		&>a{
			display: inline-block;
			height: 20px;
			width: 20px;
			overflow: hidden;
			text-indent: -999px;
			vertical-align: middle;
			margin-bottom: 4px;
		}
		#linkedin{
			@include sprite(4, 2);
			&:hover {
				@include sprite(5, 2);
			}
		}
		#github{
			@include sprite(6, 2);
			&:hover {
				@include sprite(7, 2);
			}
		}
	}
}
