#post {
	margin-top: 0px;
	//background-color: $grey;
	#menu {
		height:$header-height;
		//background-color: $red;
		top:0;
		.wrapper {
			//background-color: $red;
			//color:white;
		}
	}
	#header {
		display: block;
	}
}
#post-content {
	margin-top: $header-height;
}
.post-header {
	background-color: $grey;
	background-color: $red;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	h1 {
		font-size:3em;
	}
}
.post-content {
	background-color: $dark-blue;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	a {
		color: $red;
		transition:all 0.1s;
		&:hover {
			background-color: $red;
			color:$grey;
			border-radius: 4px;
		}
	}
}
.post-footer {
	background-color: $light-blue;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
}