#post {
	background-color: $grey;
}
.post {

}
#post-main-header {
	background-color: $red;
	&>div {
		width: $global-width;
		margin: 0 auto;
		padding: 50px;
	}
	a {
		color:white;
	}
}
#post-content {
}
.post-header {
	background-color: $grey;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
}
.post-content {
	background-color: $dark-blue;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	a {
		color: $red;
		transition:all 0.1s;
		&:hover {
			background-color: $red;
			color:$grey;
			border-radius: 4px;
		}
	}
}
.post-footer {
	background-color: $light-blue;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
}