/*******************************************/
/************** MEDIA QUERIES **************/
/*******************************************/

@media only screen and (max-width : 1000px){
	#menu .wrapper {
		width: 100%;
	}
	.half {
		width: 100%;
		display: block;
	}
	#home {
		.home-half-text {
			width: 50%;
		}
		.home-half-picture {
			width: 50%;
		}
	}

	#whoami {
		#bottom-cross > svg {
			margin-left: calc(50% - 50px)
		}

		&>div {
			width: 100%;
			padding: 10px;
			#presentation {
				&>div {
					display: block;
					width: 100%;
					margin: 0 auto;
				}
				#description {
					width: 100%;
				}
			}
			#formation {
				&>div {
					width: 100%;
				}
			}
		}
	}
	#skills {
		&>div {
			width: 100%;
		}
	}
	#contact{
		&>div{
			width: 100%;
			padding: 20px;
			&>div{
				width: 100%;
			}
			form{
				width: 100%;
				#message{
					textarea{
						width:100%;
						max-width: 100%;
						min-width: 100%;
					}
				}
				#infoMessage{
					input{
						width: 80%;
					}
				}
				label+input#check{
					margin-bottom: 20px;
				}
			}
		}
	}
	#projects {
		#bottom-cross > svg {
			margin-left: calc(50% - 50px);
		}
		&> div {
			width: 100%;
		}
		.project-slide {
			& > img {
				width: 33%;
			}
			svg {
				display:none;
			}
		}
		.project-content {
			width:66%;
			padding-right: 20px;
		}
	}
}

// diminution menu
@media only screen and (max-width : 820px){
	#menu {
		text-align: center;
		&.minimize {
			height: 87px;
		}
		nav {
			position: relative;
			float: none;
			width: 100%;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 50px;
				height: 100%;
				display: block;
				background-image: linear-gradient(to right, #ccc, transparent, transparent);
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 100%;
				display: block;
				background-image: linear-gradient(to right, transparent, transparent, #ccc);
			}
		}
		ul {
			white-space: nowrap;
			overflow-x: scroll;
			li:first-child {
				position:relative;
				a {
					z-index: 2;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 50px;
					height: 100%;
					display: block;
					background-image: linear-gradient(to right, white, white, transparent);
					z-index: 1;
				}
			}
			li:last-child {
				position:relative;
				a {
					z-index: 2;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 50px;
					height: 100%;
					display: block;
					background-image: linear-gradient(to right, transparent, white, white);
					z-index: 1;
				}
			}

		}
	}
	#home {
		.home-half-text, .home-half-picture {
			display: block;
			width: 100%;
			height: auto;
		}
		.home-half-text {
			text-align: center;
			padding-right: 0;
			&>div {
				margin-top: 0;
				margin-bottom: 100px;
			}
			#right-cross {
				display: none;
			}
		}
		.home-half-picture {
			display: none;
		}
	}
	#projects {
		.project-slide {
			height:auto;
			img {
				display: block;
				width:100%;
			}
		}
		.project-content {
			display: block;
			width: 100%;
			height: auto;
		}
		.cta {
			width: 100%;
		}
	}
}
