
<header id="header">
	<div id="menu" class="wrapper">
		<div class="wrapper">
			<a href ="/#" id="home-link"><h1>ALTORFFER Antoine</h1></a>
			<nav>
				<ul>
					<li><a id="whoami-link" href="/#whoami-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].whoami }}</a></li><!-- HACK
					--><li><a id="skills-link" href="/#skills-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].skills }}</a></li><!-- HACK
					--><li><a id="posts-link" href="/#posts-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].posts }}</a></li><!-- HACK
					--><li><a id="contact-link" href="/#contact-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].contact }}</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
