
<header id="header">
	<div id="menu" class="wrapper">
		<div class="wrapper">
			<h1>ALTORFFER Antoine</h1>
			<nav>
				<ul>
					<li><a id="whoami-link" href="#whoami" class="smooth-scroll">{{ site.data.content[page.lang].whoami }}</a></li><!-- HACK
					--><li><a id="skills-link" href="#skills" class="smooth-scroll">{{ site.data.content[page.lang].skills }}</a></li><!-- HACK
					--><li><a id="projects-link" href="#projects" class="smooth-scroll">{{ site.data.content[page.lang].projects }}</a></li><!-- HACK
					--><li><a id="contact-link" href="#contact" class="smooth-scroll">{{ site.data.content[page.lang].contact }}</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
