$dark-blue:#2a3f6a;
$light-blue:#47b3e0;
$red:#d12747;
$orange:#d78900;
$grey:#e7e7e7;

$hover:#111;


$global-width: 1000px;
$sprite-width: 50px;
$sprite-height: 50px;

@mixin sprite($x: 0, $y: 0) {
	background-image: url("./images/sprite.png");
	background-position: (-$x*$sprite-width) (-$y*$sprite-height);
	background-repeat: no-repeat;
}
