#post {
	margin-top: 0px;
	#menu {
		height:$header-height;
		top:0;
	}
	#header {
		display: block;
	}
}
#post-content {
	margin-top: $header-height;
}
.post-header {
	background-color: $grey;
	background-color: $red;
	color:white;
	padding:50px 0px;
	border-bottom: 1px solid white;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	h1 {
		font-size:3em;
		margin: 0;
	}
	img {
		display: inline-block;
		width: 300px;
	}
	.post-header-description
	{
		border-top: 1px solid white;
		margin-left: 20px;
		vertical-align: bottom;
		display: inline-block;
		width: calc(#{$global-width} - 320px);
	}
}
.post-content {
	background-color: $dark-blue;
	color:white;
	padding:20px 0px;
	text-align: justify;
	list-style: square;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	a {
		color: $light-blue;
		transition:all 0.1s;
		&:hover {
			color: lighten($light-blue, 40%);
		}
	}
	h1 {
		text-align: left;
		color: white;
		border-bottom: 3px solid $light-blue;
		font-size: 3.0em;
	}
	h2 {
		border-bottom: 1px solid white;
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}
}
.post-footer {
	background-color: $light-blue;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
}

div.highlight {
	padding: 1px 10px;
	border-radius: 5px;
	border:1px solid #ccc;
	overflow: auto;
}