#post {
	margin-top: 0px;
	#menu {
		height:$header-height;
		top:0;
	}
	#header {
		display: block;
	}
}
#post-content {
	margin-top: $header-height;
}
.post-header {
	background-color: $grey;
	background-color: $red;
	color: $grey;
	padding:50px 0px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	h1 {
		font-size:3em;
		margin: 0;
	}
	img {
		display: inline-block;
		width: 300px;
	}
	.post-header-description
	{
		border-top: 1px solid $grey;
		margin-left: 20px;
		vertical-align: bottom;
		display: inline-block;
		width: calc(#{$global-width} - 320px);

		.post-meta {
			display: inline-block;
			padding: 2px;
			border-radius: 5px;
			background-color: $grey;
			color: $red;
		}
	}
}
.post-content {
	background-color: $dark-blue;
	color:$grey;
	padding:20px 0px;
	text-align: justify;
	list-style: square;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	a {
		color: $light-blue;
		transition:all 0.1s;
		text-decoration: none;
		&:hover {
			color: lighten($light-blue, 40%);
			text-decoration: underline;
		}
	}
	h1 {
		text-align: left;
		border-left: 10px solid $grey;
		padding-left: 10px;
		font-size: 2.5em;
	}
	h2 {
		border-bottom: 1px solid $grey;
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}

	div.highlight {
		padding: 1px 20px;
		border-radius: 5px;
		overflow: scroll;
	}
	
	code.language-plaintext {
		padding: 1px 5px;
		margin: 0 2px;
		background-color: #fff1;
		border-radius: 5px;
	}
	blockquote {
		background-color: color-mix(in srgb, $light-blue 20%, transparent);;
		padding: 2px 10px;
		margin: 30px 40px;
		border-radius: 10px;
	}
	img {
		border-radius: 5px;
		max-width: 100%;
	}
}
.post-footer {
	background-color: $light-blue;
	color:$dark-blue;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	.post-half {
		width: 50%;
		display: inline-block;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}
	.post-third {
		width: 33%;
		display: inline-block;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}
	.post-third-mid {
		width: 34%;
		display: inline-block;
		text-align: center
	}
	.post-info {
		padding-bottom: 10px;
		p {
			display: inline-block;
		}
		.share-btn {
			display: inline-block;
			&>a{
				text-decoration: none;
				vertical-align: middle;
				color: $dark-blue;
				text-align: middle;
				font-size: 0;
				transition: color 0.2s;
	
				&:hover {
					color: $grey;
				}
				&:before {
					font-size: 40px;
					vertical-align: middle;
				}
			}
			&#share-linkedin>a{
				&:before {
					font-family: "social_media";
					content: "l";
				}
			}
			&#share-twitter>a{
				&:before {
					font-family: "social_media";
					content: "t";
				}
			}
			&#share-facebook>a{
				&:before {
					font-family: "social_media";
					content: "f";
				}
			}
		}
	}
	.post-nav {
		padding: 5px;
		background-color: color-mix(in srgb, $dark-blue 10%, transparent);
		border-radius: 10px;
		div {
			a {
				padding: 5px;
				color: $dark-blue;
				text-decoration: none;
				transition: color 0.2s;
				&:hover {
					text-decoration: underline;
					color: $grey;
				}
				&:focus {
					color:$red;
				}
			}
			&:first-child {
				a:before {
					content: '';
					margin-right:5px;
					border:solid $dark-blue;
					border-width: 0 3px 3px 0;
					display: inline-block;
					padding: 3px;
					transform: rotate(135deg);
				}
			}
			&:last-child {
				a::after {
					content: '';
					margin-left:5px;
					border:solid $dark-blue;
					border-width: 0 3px 3px 0;
					display: inline-block;
					padding: 3px;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.other-posts {
		padding-top: 20px;
		text-align: center;
		h1 {
			margin-top: 0;
		}
		a {
			color: $dark-blue;
			text-decoration:none;
			padding:5px 0;
			display: inline-block;
			transition: color 0.2s;
			&:hover {
				color: $grey;
				text-decoration:underline;
			}
		}
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
		}
	}
}