#post {
	margin-top: 0px;
	#menu {
		height:$header-height;
		top:0;
	}
	#header {
		display: block;
	}
}
#post-content {
	margin-top: $header-height;
}
.post-header {
	background-color: $grey;
	background-color: $red;
	color:white;
	padding:50px 0px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	h1 {
		font-size:3em;
	}
	img {
		display: inline-block;
		width: 250px;
	}
	.post-header-description
	{
		padding-left: 20px;
		vertical-align: top;
		display: inline-block;
		width: calc(#{$global-width} - 250px);
	}
}
.post-content {
	background-color: $dark-blue;
	color:white;
	padding:20px 0px;
	text-align: justify;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
	a {
		color: $light-blue;
		transition:all 0.1s;
		&:hover {
			color: lighten($light-blue, 40%);
		}
	}
}
.post-footer {
	background-color: $light-blue;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	&>div {
		width: $global-width;
		margin: 0 auto;
	}
}

div.highlight {
	padding: 1px 10px;
	border-radius: 5px;
	border:1px solid #ccc;
	overflow: scroll;
}