/*******************************************/
/************** MEDIA QUERIES **************/
/*******************************************/

@media only screen and (max-width : 1000px){
	.post-content {
        &>div {
            width: 100%;
            padding:0px 20px;
        }
    }
    .post-header {
        padding-left: 20px;
        padding-right: 20px;
        &>div {
            width: 100%;
        }
        img {
            display: none;
        }
        .post-header-description {
            border-top: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }
    .post-footer {
        padding-left: 20px;
        padding-right: 20px;
        &>div {
            width: 100%;
        }
    }
}

// diminution menu
@media only screen and (max-width : 820px){
	
    #post-content {
        margin-top: 118px;
    }
	#post {
        #menu {
            text-align: center;
            height: auto;
        }
    }
    .post-header {
    }
    .post-content {
        img {
            width: 100%;
        }
        blockquote {
            margin:40px 10px;
        }
    }
    ul {
       padding-left: 20px; 
    }
    .post-footer {
        .post-third, .post-third-mid {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}
