---
layout: default
title: Antoine Altorffer - 3D software engineer
#date: 2020-05-17 #YYYY-MM-DD HH:MM:SS +/-TTTT
---
<!-- Home -->
<section id="home">
	<a class="anchor" id="home-anchor"></a>
	<div class="home-half-text">
		<div id="right-cross">
			<svg viewBox="0 0 1 1" preserveAspectRatio="none">
				<polygon points="0,0 0,1 1,0"/>
			</svg>
		</div>
		<div>
			<p><!--HACK
				{% for lang in site.langs %}
					{% if lang == site.default_lang %}
				--><a href="{{ site.url }}" id="{{lang}}-link" class="lang-selector {% if lang == page.lang %}lang-selector-active{% else %}lang-selector-unactive{% endif %}">{{lang}}</a><!--HACK
					{% else %}
				--><a href="{{ site.url }}/{{lang}}" id="{{lang}}-link" class="lang-selector {% if lang == page.lang %}lang-selector-active{% else %}lang-selector-unactive{% endif %}">{{lang}}</a><!--HACK
					{% endif %}
				{% endfor %}
			--></p>
			<h1>ALTORFFER Antoine</h1>
			<h2>{{ site.data.i18n[page.lang].home_description }}</h2>
			{% comment %}
			<p><span class="highlighted">{{ site.data.i18n[page.lang].home_status }}</span></p>
			{% endcomment %}
			<p>
				<a href="#posts-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].posts }}</a>
				- <a href="#whoami-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].whoami }}</a>
				 - <a href="#skills-anchor" class="smooth-scroll">{{ site.data.i18n[page.lang].skills }}</a>
			  </p>
			<a href="#contact" class="cta cta-big smooth-scroll">{{ site.data.i18n[page.lang].contact_me }}</a>
		</div>
	</div><!-- HACK --><div class="home-half-picture" id="slider"></div>
</section>
<!-- / Home -->

<!-- Posts -->
<section id="posts" class="wrapper section">
	<a class="anchor" id="posts-anchor"></a>
	<div id="bottom-cross">
		<svg viewBox="0 0 1 1" preserveAspectRatio="none">
			<polygon points="0,1 0.5,0 1,1"/>
		</svg>
	</div>
	<div>
		<h1>{{ site.data.i18n[page.lang].posts }}</h1>
		
		<div class="post-container">
			{% for post in site.posts %}
			<div class="post-link">
				<a href="{{ post.url }}">
					<img src="{{post.background}}" class="post-link-image"/><!--
					--><div class="post-link-description">
						<h2>{{ post.title }}</h2>
						<p>Published on {{ post.date | date: "%B %-d, %Y" }} by {{ post.author }}</p>
						<p>{{ post.content | strip_html | truncatewords: 30 }}</p>
					</div>
				</a>
			</div>
			{% else %}
			<p>No post available yet...</p>
			{% endfor %}
		</div>
	</div>
</section>
<!-- / Posts -->


<!-- Qui suis-je -->
<section id="whoami" class="wrapper section">
	<a class="anchor" id="whoami-anchor"></a>
	<div>
		<h1>{{ site.data.i18n[page.lang].whoami }} ?</h1>
		<div id="presentation">
			<div id="imgProfil"></div>
			<div id="description">
				<h2>{{ site.data.i18n[page.lang].whoami_title }}</h2>
				<a href="{{ site.vimeo_url }}" target="_blank" id="vimeo" class="externLink">vimeo</a>
				<a href="{{ site.github_url }}" target="_blank" id="git" class="externLink">github</a>
				<a href="{{ site.linkedin_url }}" target="_blank" id="linkedin" class="externLink">linkedin</a>
				<p>{{ site.data.i18n[page.lang].whoami_description }}</p>
				{% if page.lang == "fr" %}
					<a href="/assets/download/{{ site.cv_fr }}" target="_blank" class="cta cta-large">CV Français</a>
				{% endif %}
				{% if page.lang == "en" %}
					<a href="/assets/download/{{ site.cv_en }}" target="_blank" class="cta cta-large">English Resume</a>
				{% endif %}
			</div>
		</div>
		<div id="experience">
			<h2>{{ site.data.i18n[page.lang].experience_title }}</h2>
			
			{% for data in site.data.i18n[page.lang].experiences %}
			<div>
				<p class="date">{{ data.date }}</p>
				<h3><span class="company-name">{{ data.company }}</span> - {{ data.job_title }}</h3>
				<p>{{ data.job_description }}</p>
			</div>
			{% endfor %}
		</div>
		<div id="formation">
			<h2>{{ site.data.i18n[page.lang].formation_title }}</h2>
			<div id="src">
				<p>2012-2014</p>
				<h3>{{ site.data.i18n[page.lang].formation_dut_title }}</h3>
				<p>{{ site.data.i18n[page.lang].formation_dut_description }}</p>
			</div>
			<div id="evman">
				<p>2014-2015</p>
				<h3>{{ site.data.i18n[page.lang].formation_evman_title }}</h3>
				<p>{{ site.data.i18n[page.lang].formation_evman_description }}</p>
			</div>
			<div id="esiea">
				<p>2015-2018</p>
				<h3>{{ site.data.i18n[page.lang].formation_esiea_title }}</h3>
				<p>{{ site.data.i18n[page.lang].formation_esiea_description }}</p>
			</div>
		</div>
	</div>
</section>
<!-- / Qui suis-je -->

<!-- Competences -->
<section id="skills" class="wrapper section">
	<a class="anchor" id="skills-anchor"></a>
	<div>
		<h1>{{ site.data.i18n[page.lang].skills }}</h1>
		<div>
			<div class="half half-dev">
				<h2>{{ site.data.i18n[page.lang].development }}</h2>
				<div id="icon-dev"></div>
				<ul>
					{% for data in site.data.skills.dev %}
						<li>{{ data }}</li>
					{% endfor %}
				</ul>
			</div><!-- HACK
			--><div class="half half-design">
				<h2>{{ site.data.i18n[page.lang].computer_graphics }}</h2>
				<div id="icon-computer-graphics"></div>
				<ul>
					{% for data in site.data.skills.computer-graphics %}
						<li>{{ data }}</li>
					{% endfor %}
				</ul>
			</div><!--HACK
			--><div class="half half-design">
				<h2>{{ site.data.i18n[page.lang].web }}</h2>
				<div id="icon-web"></div>
				<ul>
					{% for data in site.data.skills.web %}
						<li>{{ data }}</li>
					{% endfor %}
				</ul>
			</div><!--HACK
			--><div class="half half-design">
				<h2>{{ site.data.i18n[page.lang].graphism }}</h2>
				<div id="icon-design"></div>
				<ul>
					{% for data in site.data.skills.design %}
						<li>{{ data }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- / Competences -->

<!-- Contact -->
<section id="contact" class="wrapper section">
	<a class="anchor" id="contact-anchor"></a>
	<div>
		<h1>{{ site.data.i18n[page.lang].contact }}</h1>
		<!-- see formspree or equivalent for email sending in jekyll -->
		<form id="mail-form" action="https://formspree.io/f/mdorynye" method="POST"> 
			<div id="infoMessage">
				<div>
					<label for="name">{{ site.data.i18n[page.lang].form_name }} : </label>
					<input type="text" id="name" name="nom" placeholder="{{ site.data.i18n[page.lang].form_name_placeholder }}" required>
				</div>
				<div>
					<label for="firstname">{{ site.data.i18n[page.lang].form_surname }} : </label>
					<input type="text" id="firstname" name="prenom"  placeholder="{{ site.data.i18n[page.lang].form_surname_placeholder }}" required>
				</div>
				<div>
					<label for="mail">{{ site.data.i18n[page.lang].form_mail }} : </label>
					<input type="email" id="mail" name="email" placeholder="{{ site.data.i18n[page.lang].form_mail_placeholder }}" required>
				</div>
			</div>
			<div id="message">
				<label for="message">{{ site.data.i18n[page.lang].form_message }} : </label>
				<textarea name="message" id="message" placeholder="{{ site.data.i18n[page.lang].form_message_placeholder }}" required></textarea>
			</div>
			<button class="cta" type="submit" id="mail-send-button" data-error="{{ site.data.i18n[page.lang].form_send_error }}" data-sending="{{ site.data.i18n[page.lang].form_sending }}" data-sent="{{ site.data.i18n[page.lang].form_sent }}" data-send="{{ site.data.i18n[page.lang].form_send }}">{{ site.data.i18n[page.lang].form_send }}</button>
		</form>
	</div>
</section>
<!-- / Contact -->
